*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

body{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    position: relative;
}

.root{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-family: 'Merriweather';
}

.logo .logo-icon{
    color: #FFEF61;
    font-size: 30vh;
    margin-bottom: 16px;
}

.logo h1{
    font-size: 36px;
    font-weight: 700;
}

.frontpage button, .results button{
    width: 349px;
    height: 75px;
    background-color: transparent;
    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.results button{
    margin-top: 20px;
}
img.logoImg{
    margin-bottom: 16px;
}

button span{

    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
}



.topo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Merriweather';
}

.topo img{
    width: 42.47px;
    height: 53.99px;
    top: 10px;
    left: 10px;
}

.topo span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.card{
    width: 392px;
    height: 575.75px;
    /* background: #FFFFFF; */
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card span{
    position: absolute;
    right: 10px;
    top: 10px;
}

.card .card-face span.questionUpperText{
    width: inherit;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

.card img{
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}

.card-face{
    position: absolute;
    height: 95%;
    width: 95%;
    backface-visibility: hidden;
    transform: rotateY(0)

}
.card-front{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-front h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.card-back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding-top: 55%;
    justify-content: space-between;
    align-items: center;
}

.card-flip{
    transform: rotateY(180deg);
}

.situations{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container{
    width: 65px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .container button{
    font-weight: 400;
    margin: auto 0;
    position: unset;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    width: 90%;
    background-color: transparent;
    border-color: transparent;
}
.card p{
    width: 80%;
    height: fit-content;
    text-align: center;
}

.card.black{
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

.card.red{
    border: 5px solid #F74848;
    box-sizing: border-box;
    border-radius: 12px;
}

.card.green{
    border: 5px solid #62DB38;
    box-sizing: border-box;
    border-radius: 12px;
}
.card.yellow{
    border: 5px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
}

.card .container.black{
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
}

.card .container.red{
    border: 3px solid #F74848;
    box-sizing: border-box;
    border-radius: 12px;
}

.card .container.green{
    border: 3px solid #62DB38;
    box-sizing: border-box;
    border-radius: 12px;
}
.card .container.yellow{
    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
}

.results{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-text{
    color: #000000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
}

input{
    width: 345px;
    height: 49px;
    padding: 0 15px;
    position: absolute;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    position: absolute;
    bottom: 240px;
}
.hidden{
    display: none;
}